<a href="https://colab.research.google.com/github/Lamia-BenHassen/project-2/blob/main/Project_2_Part_1_choosing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

# First choice: dataset 1

1. Source of data:
[https://www.kaggle.com/datasets/sagnik1511/car-insurance-datau lien](https://)

A company has shared its annual car insurance data.

The target is : The outcome column indicates 1 if a customer has claimed his/her loan else 0.

One row presents a customer

it's a classification problem

In [3]:
df1=pd.read_csv('/content/Car_Insurance_Claim.csv')

In [4]:
df1.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

In [5]:
df1.shape

(10000, 19)

in this data we have 10000 rows and 18 features

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10000 non-null  int64
 1   AGE                  10000 non-null  object
 2   GENDER               10000 non-null  object
 3   RACE                 10000 non-null  object
 4   DRIVING_EXPERIENCE   10000 non-null  object
 5   EDUCATION            10000 non-null  object
 6   INCOME               10000 non-null  object
 7   CREDIT_SCORE         9018 non-null   float64
 8   VEHICLE_OWNERSHIP    10000 non-null  float64
 9   VEHICLE_YEAR         10000 non-null  object
 10  MARRIED              10000 non-null  float64
 11  CHILDREN             10000 non-null  float64
 12  POSTAL_CODE          10000 non-null  int64
 13  ANNUAL_MILEAGE       9043 non-null   float64
 14  VEHICLE_TYPE         10000 non-null  object
 15  SPEEDING_VIOLATIONS  10000 non-null  int64
 16  DUIS                 10000 non-null  int64
 17  PAST_ACCIDENTS       10000 non-null  int64
 18  OUTCOME              10000 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 1.4+ MB

# Second choice: dataset 2

1. Source of data: [https://www.kaggle.com/datasets/fedesoriano/spanish-wine-quality-dataset](https://)

This dataset is related to red variants of spanish wines.The dataset describes several popularity and description metrics their effect on it's quality.

The target is : rating: Average rating given to the wine by the users [from 1-5]

One row presents a red wine type

it's a classification problem

In [7]:
df2=pd.read_csv('/content/wines_SPA.csv')

In [8]:
df2.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [9]:
df2.shape

(7500, 11)

in this dataset we have 10 features and 7500 rows.

What, if any, challenges do you foresee in cleaning, exploring, or modeling these datasets?

we will address:

Data Quality: Discuss potential issues with data quality such as missing values, outliers, and inconsistencies. Cleaning the dataset might involve imputing missing values, handling outliers, and addressing any discrepancies in the data.

Data Exploration: Exploring complex relationships within the data and identifie patterns this involve conducting exploratory data analysis (EDA), and using visualization techniques.

Imbalanced Classes: If the dataset has imbalanced classes (a significant difference in the number of instances for different classes), this could affect the model's performance.

Model Selection and Tuning: Choose the right algorithm and hyperparameters for modeling.

Domain Knowledge: Understand the domain and the context of the dataset.

Interpreting Results:interpret the results and translate them into actionable insights.

Validation and Overfitting: Ensuring that the model generalizes well to new data and avoiding overfitting.